[project]
	description = snap plugin for collecting metrics from libvirt
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Marcin Spoczynski (sandlbn)
[access "refs/for/refs/*"]
	read = group user/Marcin Spoczynski (sandlbn)
	push = group user/Marcin Spoczynski (sandlbn)
	label-Code-Review = -2..+2 group user/Marcin Spoczynski (sandlbn)
	label-Verified = -1..+1 group user/Marcin Spoczynski (sandlbn)
	rebase = group user/Marcin Spoczynski (sandlbn)
	removeReviewer = group user/Marcin Spoczynski (sandlbn)
	submit = group user/Marcin Spoczynski (sandlbn)
[access "refs/heads/*"]
	read = group user/Marcin Spoczynski (sandlbn)
	create = group user/Marcin Spoczynski (sandlbn)
	push = +force group user/Marcin Spoczynski (sandlbn)
	pushMerge = group user/Marcin Spoczynski (sandlbn)
[access "refs/tags/*"]
	push = +force group user/Marcin Spoczynski (sandlbn)
	pushTag = group user/Marcin Spoczynski (sandlbn)
	pushSignedTag = group user/Marcin Spoczynski (sandlbn)
